extends layout.pug

block content
    div.wrapper
        div
            p You have run
            h2.ytd-distance
            p so far this year</p>
            p ...and <span class="recent-distance"></span> over the past 4 weeks
