body {
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 2rem;
    margin: 0.25em;
}

h2 {
    margin: 0;
    font-size: 5rem;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
}
